@import "https://fonts.googleapis.com/css?family=Lato:400,700";
* {
    margin: 0;
    padding: 0;
    background-size: border-box;
    font-family: 'Lato', sans-serif;
}
body {
    background: #eee;
}
#header {
    top: 0;
    background: #eee;
    position: fixed;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    align-items: center;
}
.logo {
    width: 60vw;
}
#header-img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    justify-content: center;
    align-items: center;
}
#nav-bar > ul {
    list-style: none;
    display: flex;
}
#nav-link {
    padding: 40px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}
.hero {
    margin-top: 100px;
    text-align: center;
}
#form {
    width: 100%;
}
#form > h2 {
    font-size: 25px;
    font-weight: bold;
}
#email {
    margin: 20px auto;
    height: 15px;
    padding: 10px;
    width: 280px;
    border: 2px solid black;
    border-radius: 4px;
    background: white;
}
#submit, .btn {
    background: none;
    padding: 10px 30px;
    border: 2px solid #008CBA;
    border-radius: 4px;
    transition-duration: 0.4s;
}
#submit:hover , .btn:hover {
    background-color: #008CBA;
    color: white;
}
.btn {
    margin: 20px auto;
    width: 100px;
}
.features {
    margin: 20px auto;
}
.row {
    display: flex;
    width: 70%;
    margin: 40px auto;
}
.icon {
    width: 60px;
}
.icon > i {
    font-size: 60px;
}
.desc {
    margin-left: 70px;
}
.desc > h2 {
    font-size: 30px;
}
.video {
    text-align: center;
    margin: 60px auto;
}
.product-box {
    text-align: center;
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
}
.product {
    border: 1px solid black;
    margin: 20px 20px;
    width: 70%;
}
.level {
    background: #ddd;
    padding: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.product > h2 {
    margin-top: 20px;
}
.product > ul {
    list-style-type: none;
    padding: 10px;
}
.product > ul > li {
    padding: 5px;
}
.footer {
    background-color: #ddd;
    width: 100%;
    margin: 60px auto 0;
}
.footer > ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-right: 20px;
}
.footer > ul > li {
    font-size: 16px;
    padding: 10px;
}
.footer > p {
    text-align: center;
    margin-right: 35px;
    padding-bottom: 10px;
}
@media (max-width: 768px) {
    .product-box{
        flex-direction: column;
    }
    .product {
        width: 100%;
    }
}
